<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pub400Demo.Properties.Settings.ConnectionString" connectionString="Provider=DB2OLEDB.1;Data Source=pub400.com;Persist Security Info=True;Password=sporades02;User ID=demo;Initial Catalog=PUB400;Database Name=PUB400;Network Address=pub400.com;Package Collection=demo1;Default Schema=DEMO1"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>